.headerAction {
	height: 100%;
	float: right;
	display: flex;
	align-items: center;
	padding-right: 10px;
}

.authBtn {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.06em;
	color: var(--gray);

	cursor: pointer;
}

.authBtn:hover {
	font-weight: 500;
	color: var(--dark-text);
}
