.title {
  text-transform: uppercase;
  color: var(--gray);
}

.cards {
  margin-top: 15px;
}

.pagination {
  margin-top: 20px;
}

.btn-collections {
  background-color: #fff !important;
  color: var(--dark-text) !important;
}

.btn-collections:hover {
  background-color: var(--dark-text) !important;
  color: #fff !important;
}
