.header-navigation.ant-menu {
	background: none;
}

.header-navigation.ant-menu-horizontal {
	border-bottom: none;
}

.header-navigation.ant-menu-horizontal > .ant-menu-item a {
	letter-spacing: 0.06em;
	color: var(--gray);
}

.ant-menu-title-content::before {
	display: none;
}

.header-navigation.ant-menu-horizontal > .ant-menu-item a:hover {
	color: var(--dark-text);
}

.header-navigation.ant-menu-horizontal:not(.ant-menu-dark) >
.ant-menu-item-selected::after {
	border-bottom: 2px solid var(--blue);
}

.header-navigation.ant-menu-horizontal:not(.ant-menu-dark) >
.ant-menu-item:hover:after {
	border-bottom: 2px solid var(--dark-text);
}

.ant-menu-item::after {
	display: none;
}

.ant-menu-item-selected a {
	color: var(--dark-text)!important;
}

.ant-layout-header {
	padding: 0!important;
}