.cardText {
	margin: 0;
	font-size: 14px;
	text-align: left;
}

.cardText p{
	margin: 0 0 7px 0;
}

.title {
	margin-right: 10px;
	font-weight: bold;
	color: var(--green);
}

.translate {
	color: var(--dark-text);
}

.none {
	display: none;
}

.card-cover {
  position: relative;
  height: 200px;
}

.card-image {
  object-fit: cover;
}

.card-translate-res {
	width: 100%;
}

.card-translate-res .ant-card-body {
	padding: 15px;

}