:root {
  --black: #011b24;
  --blue: #0774a2;
  --gray: #5f7794;
  --middle-gray: #c1cfdb;
  --light-gray: #f3f6f8;
  --green: #008da0;
  --light-text: #5f7794;
  --dark-text: #0b2c54;
  --button-blue-disabled: #c8dbe2;
  --button-green-disabled: #c1dbdf;
  --pagination-disabled: #c1cfdb;
  --step-bg: #dde7ee;
}
