:root {
	--black: #011b24;
	--blue: #0774A2;
	--gray: #5F7794;
	--middle-gray: #C1CFDB;
	--light-gray: #F3F6F8;
	--green: #008da0;
	--light-text: #5f7794;
	--dark-text: #0B2C54;
	--button-blue-disabled: #C8DBE2;
	--button-green-disabled: #C1DBDF;
	--pagination-disabled: #C1CFDB;
  --step-bg: #DDE7EE;
}
