.quizButton {
  border: 1px solid #666;
  color: #333;
  border-radius: 10px;
  text-align: center;

  padding: 10px;

  font-size: 18px;
  font-weight: bold;

  transition-property: border-width padding font-size;
  transition-duration: 200ms;

  box-sizing: content-box;
}

.quizButton:hover {
  cursor: pointer;

  border-width: 3px;
  padding: 7px;
  font-size: 20px;
}

.quizButton_picked {
  color: #fff;

  padding: 7px;
  border-width: 3px;
  font-size: 20px;
}

.quizButton_wrong {
  composes: quizButton_picked;

  background-color: #f88e86;
  border-color: #f5564a;
}

.quizButton_correct {
  composes: quizButton_picked;

  background-color: #87cd8a;
  border-color: #4bb450;
}
