.img-container {
  position: relative;
  overflow: hidden;
  height: 130px;
  border-radius: 4px 4px 0 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.answered {
  height: 130px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.3s;
}

.img.blurred {
  filter: blur(16px);
}

.word,
.blue-word {
  margin-right: 10px;
  font-weight: bold;
  transition-duration: 0.3s;
}

.blue-word {
  color: var(--green);
}

.blurred-word {
  filter: blur(6px);
}
