.quizButton .ant-card-body {
	padding: 12px;
}

.quizButton.ant-card-bordered .ant-card-cover {
	margin: 0
}

.quiz .quizButton_wrong {
	background-color: #f88e86;
	border-color: #f5564a;
}

.quiz .quizButton_correct {
	background-color: #87cd8a;
	border-color: #4bb450;
}