.quizFooter {
  font-size: 28px;
  display: flex;

  margin: 15px 0 0 0;
  justify-content: end;
}

.quizFooter > span {
  width: 125px;
}

.quizFooter > span:last-child {
  text-align: end;
}

.quizNextWord {
  font-weight: bold;

  color: #0097ee;
}

.quizNextWord:hover {
  cursor: pointer;
  color: #0182cc;
}
