.dictionary .ant-table-checkbox-cell,
.dictionary .ant-table-cell.centered {
	text-align: center;
}

.dictionary .ant-table-cell {
	padding: 16px 12px;
}

.dictionary .ant-table-cell:first-child {
	padding: 16px;
}

.dictionary .centered.ant-table-cell .ant-checkbox {
	transform: matrix(1.35, 0, 0, 1.35, 0, 0);
}

.dictionary .anticon-delete {
	color: var(--gray);
	transform: matrix(1.8, 0, 0, 1.8, 0, 0);

	transition-property: color;
	transition-duration: 0.3s;
}

.dictionary .anticon-delete:hover {
	color: red;
}

.dictionary .ant-checkbox-checked .ant-checkbox-inner,
.dictionary .ant-btn-primary {
	background-color: var(--green);
}

.dictionary .app-btn._green._hover-red:hover {
	background: red;
}
