@keyframes slide {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 37px;
    opacity: 1;
  }
}

.quiz-footer {
  font-size: 24px;
  display: flex;
  transition-duration: 0.3s;
  animation: slide 0.3s cubic-bezier(0.67, 0, 0.3, 1);
  margin: 15px 0 0;
  justify-content: space-evenly;
}

.quiz-footer > span {
  text-align: end;
}

.quiz-next-word {
  font-weight: bold;
  color: #0097ee;
}

.quiz-next-word:hover {
  cursor: pointer;
  color: #0182cc;
}
