@keyframes slide {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 37px;
		opacity: 1;
	}
}

.quizFooter {
  font-size: 24px;
  display: flex;

	transition-duration: 0.3s;
	animation: slide 0.3s cubic-bezier(.67, 0, .30, 1);

  margin: 15px 0 0 0;
  justify-content: space-evenly;
}

.quizFooter > span {
  text-align: end;
}

.quizNextWord {
  font-weight: bold;

  color: #0097ee;
}

.quizNextWord:hover {
  cursor: pointer;
  color: #0182cc;
}
