.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin-right: 10px;
	font-weight: bold;
	color: var(--green);
}

.card-cover {
  position: relative;
  height: 200px;
}

.card-image {
  object-fit: cover;
}
